
.default{
    top:0;
    border:0;
    margin:0;
    padding:0;
    color: rgba(246, 246, 246, 0.911);
    background-color: rgba(0, 0, 0, 0.911);
    width:100%;
    height:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
